body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active {
  color: blueviolet;
}
.lost {
  text-align: center;
  margin: 100%;
  color: rgb(0, 0, 0);
  border: rgb(0, 0, 0) solid;
  size: 100%;
}
.myHeader {
  color: #00b4d8;
}
